@model App.Ventas.Models.Categoria

@{
    ViewBag.Title = "Create";
}

@using (Ajax.BeginForm("Create", new { Controller = "Categoria" },
    new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "modal-body",
        OnSuccess = "categoria.success(data, 'create');"
    },
    htmlAttributes: new { id = "createForm" }
))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Descripcion, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Descripcion, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Observacion, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Observacion, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Observacion, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Estado, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Estado)
                    @Html.ValidationMessageFor(model => model.Estado, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IdTipoCategoria, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.IdTipoCategoria, new { htmlAttributes = new { @class = "form-control" } })*@

                @*Forma 1 de lista en el combo*@
                @*
                <select id="IdTipoCategoria" name="IdTipoCategoria" class="form-control" placeholder="Tipo Categoría" required>
                    <option value="0" selected> --Seleccionar-- </option>
                    @foreach (var item in ViewBag.ListaTipoCategorias)
                    {
                        <option value="@item.Id">@item.Nombre</option>
                    }
                </select>
                *@

                @*Forma 2 de lista en el combo*@
                @*
                @Html.DropDownListFor(model => model.IdTipoCategoria,
                                        new SelectList(ViewBag.ListaTipoCategorias, "Id", "Nombre"),
                                        "--Seleccionar--",
                                        htmlAttributes: new
                                            {
                                                @class = "form-control"
                                            }
                                        )
                *@

                @*Forma 3 de la lista en el combo*@
                @Html.DropDownListFor(model => model.IdTipoCategoria,
                                        ViewBag.ListaTipoCategorias2 as SelectList,
                                        "--Seleccionar--",
                                        htmlAttributes: new { @class = "form-control" }
                                        )

                @*Forma 4 de la lista en el combo*@
                @*
                @Html.DropDownListFor(model => model.IdTipoCategoria,
                                        ViewBag.ListaTipoCategorias3 as List<SelectListItem>,
                                        "--Seleccionar--",
                                        htmlAttributes: new { @class = "form-control" }
                                        )
                *@
                @Html.ValidationMessageFor(model => model.IdTipoCategoria, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Crear Categoría" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
